<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Questões <small>Controle Suas Questões</small></h1>
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>
<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Dashboard > Questões > Editar Questões</li>
    </ol>
  </div>
</section>
<div *ngIf="question">

  <form class="form-signin form-horizontal well form-size" (submit)="onRegisterSubmit()">
    <fieldset>
      <legend>Editar Questão</legend>

      <label for="inputQuestion" class="col-lg-2 control-label">Questão</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" class="form-control" id="inputQuestion" placeholder="Insira a Questão" required autofocus
          [(ngModel)]="question" name="question"></textarea>
      </div>

      <label for="inputArea" class="col-lg-2 control-label">Área</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputArea" placeholder="Insira a Área de Conhecimento" required [(ngModel)]="area"
          name="area">
      </div>

      <label for="inputStatus" class="col-lg-2 control-label">Status</label>
      <div class="col-lg-10">
        <select class="form-control" id="inputStatus" required [(ngModel)]="status" name="status" required>
            <option disabled hidden [value]="selectUndefinedOptionValue">Qual o Status da Questão?</option>
            <option *ngFor="let status of options" [ngValue]="status.id">{{status.name}}</option>
        </select>
      </div>
      
      <label for="inputFeedback" class="col-lg-2 control-label">Feedback</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUsuario" placeholder="Qual o feedback da Questão?" required [(ngModel)]="feedback"
          name="feedback">
      </div>

      <label for="inputTimesAppeared" class="col-lg-2 control-label">Aparecimento</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="inputTimesAppeared" placeholder="Quantas vezes a Questão Apareceu?" required
          [(ngModel)]="timesAppeared" name="timesAppeared">
      </div>

      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-lg btn-primary" value="Submit">Continuar Edição</button>
      </div>
    </fieldset>
  </form>
</div>
<!-- /container -->
