<div class="container theme-showcase" role="main">

  <!-- Register -->
  <form class="form-signin form-horizontal well form-size" (submit)="onRegisterSubmit()">
    <fieldset>
      <legend>Inscreva-se</legend>

      <label for="inputNome" class="col-lg-2 control-label">Nome</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputNome" placeholder="Nome" required autofocus [(ngModel)]="name" name="name">
      </div>

      <label for="inputUsuario" class="col-lg-2 control-label">Usuário</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUsuario" placeholder="Usuário" required [(ngModel)]="username" name="username">
      </div>

      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required [(ngModel)]="email" name="email">
      </div>

      <label for="inputPassword" class="col-lg-2 control-label">Senha</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Senha" required [(ngModel)]="password" name="password">
      </div>

      <label for="inputTipo" class="col-lg-2 control-label">Tipo</label>
      <div class="col-lg-10">
        <select class="form-control" id="inputTipo" required [(ngModel)]="type" name="type" required>
            <option disabled hidden [value]="selectUndefinedOptionValue">Escolha uma opção...</option>
            <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
        </select>
      </div>

      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">Registar</button>
      </div>
    </fieldset>
  </form>
</div>
<!-- /container -->
